<form action="/schedule/{{lecture.id}}" method="post">
    {{#if error}}
        <div class="error">{{error}}</div>
        <br>
    {{/if}}
    <div class="form-field">
        <span>Название лекции</span>
        <input value="{{lecture.title}}" name="title" placeholder="Название лекции" required />
    </div>
    <div class="form-field">
        <span>Лектор</span>
        <input value="{{lecture.teacherName}}" name="teacher" placeholder="Лектор" required />
    </div>
    <div class="form-field">
        <span>Место проведения</span>
        <input value="{{lecture.placeTitle}}" name="place" placeholder="Место проведения" required />
    </div>
    <div class="form-field">
        <span>Школа</span>
        <input value="{{lecture.schoolTitle}}" name="school" placeholder="Школа" required />
    </div>
    <div class="form-field">
        <span>Дата</span>
        <input value="{{lecture.date}}" name="date" placeholder="Дата" required />
    </div>

    <button type="submit">Сохранить</button>
</form>