<table border="1">
    <tr>
        <th>Название</th>
        <th>Лектор</th>
        <th>Место</th>
        <th>Дата</th>
        <th>Удалить</th>
    </tr>
    {{#each schedule}}
        <tr>
            <td>
                <a href="/schedule/{{this.id}}">{{this.title}}</a>
            </td>
            <td>
                <a href="/teachers/{{this.teacherData.id}}">{{this.teacher}}</a>
            </td>
            <td>{{this.place}}</td>
            <td>{{this.date}}</td>
            <td>
                <a href="/remove_lecture/{{this.id}}">Удалить</a>
            </td>
        </tr>
    {{/each}}
</table>

<br>
<a href="/new_lecture">Добавить лекцию</a>